__pycache__/
*.py[cod]
*$py.class
venv/
.env
.venv
env/
bin/
lib/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
.pytest_cache/
.coverage
htmlcov/
.mypy_cache/
.tox/
docs/_build/
model/finance_model.pkl
data/stocks/
data/etfs/
reports/
!data/stock_market.csv
